<!DOCTYPE html>
<html lang="en">

<head>
  {% block header %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>
  	{% block title %}
  	
  		Blorbby Blorb
  		
  	{% endblock %}
  </title>
  
  	Team Blorb: Leia Park & Jun Tao Lei <br>
	SoftDev1 pd9 <br>
	K#15 -- Do I Know You? <br>
	2019-10-02 <br>
  
  {% endblock %}
</head>

<body>

  {% block body %}
  <main>
    Blorbby Blorbby Blorb
  </main>
  {% endblock %}
  
  {% block footer %}
    Team Blorb @ 2019
  {% endblock %}
  
</body>
</html>